:root {
  --primary: #f3b51b;
  --secondary: #292a2c;
  --dark: #18181b;
  --white: #eeeeee;
  --width: 1200px;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.ttf");
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

* {
  color: var(--white);
}

p {
  margin: 0.5rem;
}

p,
a,
li {
  font-size: 1rem;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

li {
  text-align: start;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin: 0;
}

h1,
h2 {
  margin: 1rem 0;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

@media screen and (min-width: 700px) {
  h1 {
    font-size: 3.75em;
  }

  h2 {
    font-size: 2.5rem;
  }
}

/* NAV */
nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  list-style: none;
}

nav a {
  margin: 0 0.5rem;
  text-decoration: none;
}

/* COLORS */
.primary {
  color: var(--primary);
}

::selection {
  color: var(--dark);
  background-color: var(--primary);
}

/* HEADER */
header {
  display: none;
  z-index: 100;
  top: 0;
  position: sticky;
  padding: 0.5rem 0.5rem;
  justify-content: center;
  background-color: var(--dark);
}

header * {
  font-size: 1.5rem;
}

@media screen and (min-width: 700px) {
  header {
    display: flex !important;
  }
}

header .btn {
  background-color: var(--secondary);
}

header li {
  position: relative;
}

header li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--primary);
  visibility: hidden;
  transform: scaleX(0);
  transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
}

header li:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

/* PAGE */
.page {
  overflow: hidden;
  min-width: 250px;
  padding: 5rem 0;
  display: flex;
  z-index: -10;
  justify-content: center;
}

section.page:nth-child(odd) {
  background-color: var(--dark);
}

section.page:nth-child(even) {
  background-color: var(--secondary);
}

@media screen and (min-width: 700px) {
  .page {
    padding: 3rem 1rem;
  }
}

.page-content {
  display: flex;
  flex-wrap: wrap;
  max-width: var(--width);
  text-align: center;
  width: 100%;
}

/* HERO */
#hero {
  padding: 5rem 0;
}

#hero .page-content {
  justify-content: center;
}

@media screen and (min-width: 700px) {
  #hero {
    padding: 10rem 0;
  }
}

@media screen and (min-width: 1090px) {
  #hero .page-content {
    justify-content: space-between;
  }
}

/* LAYOUT */
.text-start {
  text-align: start;
}

.mr-auto {
  margin-right: auto;
}

.m-auto {
  margin: auto;
}

.m-0 {
  margin: 0;
}

.my-2 {
  margin: 2rem 0;
}

.vh-50 {
  min-height: 50vh;
  height: 100%;
}

.w-100 {
  width: 100%;
}

.w-700 {
  width: 700px;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.align-start {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.uppercase {
  text-transform: uppercase;
}

/* AVATAR */
.avatar {
  z-index: 1;
  align-self: center;
  width: 100%;
  margin: auto;
  overflow: hidden;
  max-height: 200px;
  max-width: 200px;
  border-radius: 300px;
  border-width: 1rem;
  border-style: solid;
  border-color: var(--primary);
  transition: box-shadow 0.25s ease-in-out;
}

.avatar img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 700px) {
  .avatar {
    max-height: 300px;
    max-width: 300px;
  }
}

.avatar:hover {
  box-shadow: 0 0 1rem 0.5rem var(--primary);
}

/* TITLE */
.title {
  position: relative;
  z-index: 1;
  margin-bottom: 6rem;
  transition: color 0.3s ease-in-out;
}

.title::before {
  text-transform: uppercase;
  position: absolute;
  z-index: -1;
  font-weight: bold;
  font-size: 3rem;
  content: attr(data-value);
  pointer-events: none;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);

  animation-name: letter-spacing;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 8rem;
  }

  .title::before {
    font-size: 10rem;
  }
}

.title:hover {
  color: var(--primary) !important;
}

section.page:nth-child(odd) .title::before {
  color: var(--secondary);
}

section.page:nth-child(even) .title::before {
  color: var(--dark);
}

.title:hover .title::before {
  color: var(--primary) !important;
}

/* BOX */
.box {
  padding: 4rem;
  background-image: linear-gradient(var(--primary), var(--primary)),
    linear-gradient(var(--primary), var(--primary)),
    linear-gradient(var(--primary), var(--primary)),
    linear-gradient(var(--primary), var(--primary));
  background-repeat: no-repeat;
  background-size: 0.5rem 4rem, 4rem 0.5rem, 0.5rem 4rem, 4rem 0.5rem, 100% 100%;
  background-position: left bottom, left bottom, right top, right top;
  transition: background-position 0.5s;
}

.box:hover {
  background-position: left top, left top, right bottom, right bottom;
}

/* UNDERLINE */
.underline {
  background: linear-gradient(
    310.75deg,
    var(--primary) 4.33%,
    var(--primary) 77.2%
  );
  background-repeat: no-repeat;
  background-size: 100% 0.25rem;
  background-position: 0 100%;
  transition-property: color, background-size;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

.underline:hover {
  color: var(--dark);
  background-size: 100% 94%;
}

/* CARD */
.card {
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: box-shadow 0.3s ease-in-out;
  margin: 1rem 0.5rem;
  text-decoration: none;
}

@media screen and (min-width: 700px) {
  .card {
    padding: 1.5rem;
    margin: 2rem 1rem;
  }
}

.card h4 {
  text-align: start;
}

.card:hover {
  box-shadow: 0 0 1rem 0.25rem var(--primary);
}

section.page:nth-child(odd) .card {
  background-color: var(--secondary);
}

section.page:nth-child(even) .card {
  background-color: var(--dark);
}

/* BUTTON */
a.btn {
  font-size: 1rem;
  font-weight: bold;
  z-index: 1;
  text-decoration: none;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: solid 2px var(--primary);
  transition: background-color 0.5s, color 0.5s;
}

section:nth-child(odd) .btn {
  background-color: var(--secondary);
}

section:nth-child(even) .btn {
  background-color: var(--dark);
}

a.btn:hover {
  background-color: var(--primary);
  color: var(--dark);
}

::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}
::-webkit-scrollbar-track-piece {
  background-color: var(--secondary);
}
::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: var(--primary);
}

/* ANIMATIONS */
@keyframes letter-spacing {
  0% {
    letter-spacing: 0;
  }
  50% {
    letter-spacing: 0.5rem;
  }
  100% {
    letter-spacing: 0;
  }
}
