:root {
  --primary: #f3b51b;
  --secondary: #292a2c;
  --dark: #18181b;
  --white: #eeeeee;
  --header-height: 90px;
  --width: 1400px;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("/.fonts/Roboto-Bold.ttf");
  font-weight: bold;
}

/* #region COMMUN */
body {
  margin: 0;
  padding: 0;
  cursor: url("./cusror/normal-dark.cur"), auto;
}

p,
a,
li,
span,
em,
h1,
h2,
h3,
h4,
h5,
h6,
.title .avatar {
  color: var(--white);
}

p,
span,
em,
h1,
h2,
h3,
h4,
h5,
h6,
.avatar {
  animation-name: fade-in;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

p {
  margin: 1.5rem;
}

p,
a,
li,
em {
  font-size: 1rem;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  transition: all 0.5s ease-in-out;
}

li {
  text-align: start;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin: 0;
}

h1,
h2,
.title {
  margin: 1rem 0;
}
h1 {
  font-size: 3em;
}
h2,
.title {
  font-size: 2.5rem;
}
h3,
h4 {
  font-size: 1.25rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3.75em;
  }
  h2,
  .title {
    font-size: 3rem;
  }
  h3,
  h4 {
    font-size: 1.5rem;
  }

  p,
  a,
  li,
  em {
    font-size: 1.25rem;
  }
}
/* #endregion */

/* COLORS */
.primary {
  color: var(--primary);
}

.bg-dark {
  background-color: var(--dark);
}

/* #region PAGE */
.page {
  overflow: hidden;
  min-width: 250px;
  padding: 5rem 0;
  display: flex;
  z-index: -10;
  justify-content: center;
}

@media screen and (min-width: 800px) {
  .page {
    padding: 3rem 1rem;
  }
}

.page-content {
  display: flex;
  flex-wrap: wrap;
  max-width: var(--width);
  text-align: center;
  width: 100%;
}
/* #endregion */

/* #region LAYOUT */
.mt-6 {
  margin-top: 6rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 1rem;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.align-middle {
  vertical-align: middle;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}
/* #endregion */

/* #region HERO */
#hero {
  padding: 6rem 0 8rem 0;
  background: linear-gradient(
    0deg,
    var(--dark) 0%,
    var(--secondary) 50%,
    var(--dark) 100%
  );
}

#hero .page-content {
  justify-content: center;
}

@media screen and (min-width: 800px) {
  #hero {
    padding: 8rem 0 10rem 0;
  }
}

@media screen and (min-width: 1090px) {
  #hero .page-content {
    justify-content: space-between;
  }
}
/* #endregion */

/* #region AVATAR */
.avatar {
  z-index: 1;
  align-self: center;
  width: 100%;
  margin: auto;
  overflow: hidden;
  max-height: 200px;
  max-width: 200px;
  border-radius: 300px;
  border-width: 0.5rem;
  border-style: solid;
  border-color: var(--primary);
  transition: all 0.25s ease-in-out;
}

.avatar img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.25s ease-in-out;
}

@media screen and (min-width: 800px) {
  .avatar {
    border-width: 1rem;
    max-height: 300px;
    max-width: 300px;
  }
}

.avatar:hover {
  box-shadow: 0 0 1rem 0.5rem var(--primary);
}
/* #endregion */

/* #region BOX */
.box {
  position: relative;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  box-sizing: border-box;
}

.box .border {
  box-sizing: border-box;
  position: absolute;
  border-style: solid;
  border-width: 0.5rem;
  border-color: var(--primary);
  height: 2rem;
  width: 2rem;
  transition: all 0.5s;
  top: 50%;
  left: 50%;
  animation-name: fade-in;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  transform: translate(-50%, -50%) rotate(45deg);
}

.box .border-left {
  border-top: 0;
  border-right: 0;
  left: 5%;
}

.box .border-right {
  border-bottom: 0;
  border-left: 0;
  left: 95%;
}

@media screen and (max-width: 550px) {
  .box .border-left {
    top: 100%;
    transform: translate(-50%, -50%) rotate(0deg);
  }

  .box .border-right {
    top: 0;
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

@media screen and (min-width: 550px) {
  .box:hover .border-left {
    top: 100%;
    transform: translate(-50%, -50%) rotate(0deg);
  }

  .box:hover .border-right {
    top: 0;
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

@media screen and (min-width: 550px) and (max-width: 800px) {
  .box {
    padding: 3rem;
  }

  .box .border {
    height: 3rem;
    width: 3rem;
  }

  .box .border-left {
    left: 6%;
  }

  .box .border-right {
    left: 94%;
  }
}

@media screen and (min-width: 800px) {
  .box {
    padding: 4rem;
  }

  .box .border {
    height: 4rem;
    width: 4rem;
  }

  .box .border-left {
    left: 4%;
  }

  .box .border-right {
    left: 96%;
  }
}

@media screen and (min-width: 900px) {
  .box .border-left {
    left: 0%;
  }

  .box .border-right {
    left: 100%;
  }
}
/* #endregion */

/* #region UNDERLINE */
.underline {
  background: linear-gradient(
    310.75deg,
    var(--primary) 4.33%,
    var(--primary) 77.2%
  );
  background-repeat: no-repeat;
  background-size: 100% 0.25rem;
  background-position: 0 100%;
  transition-property: color, background-size;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

.underline:hover {
  color: var(--dark);
  background-size: 100% 94%;
}
/* #endregion */

/* #region CARD */
.card {
  padding: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  box-sizing: border-box;
  width: 100%;
}

.card ul {
  margin: 2.5rem 0 0 0;
}

.card-secondary {
  background-color: var(--secondary);
}

.card-secondary:hover {
  box-shadow: 0 0 1rem 0.25rem var(--secondary);
}

@media screen and (min-width: 800px) {
  .card {
    padding: 2rem;
  }
}

.card h4 {
  text-align: start;
}
/* #endregion */

/* #region TIMELINE */
#timeline-title {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.timeline {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  margin: 2rem 0;
  width: 100%;
  box-sizing: border-box;
}

.timeline:before {
  background-image: linear-gradient(
    180deg,
    var(--dark) 0,
    var(--primary) 4rem,
    var(--primary) calc(100% - 4rem),
    var(--dark)
  );
  transform: translate(-50%);
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 4px;
}

.timeline-item {
  position: relative;
  display: flex;
  padding: 1rem 0;
  padding-left: 2rem;
  margin-left: 0;
  margin-right: 0;
  justify-content: start;
  box-sizing: border-box;
}

.timeline-item .card {
  transition: transform opacity 0.5s ease-in-out;
  opacity: 0;
}

.timeline-item .card:not(.revealed) {
  transform: translate(100%);
  opacity: 0;
}

.timeline-item .card.revealed {
  transform: translate(0);
  opacity: 1;
}

.timeline-item:before {
  position: absolute;
  content: "";
  border-radius: 50%;
  background-color: var(--dark);
  border: 4px solid var(--primary);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  box-sizing: border-box;
}

@media screen and (min-width: 1000px) {
  #timeline-title h2 {
    flex: 1;
  }

  .timeline:before {
    left: 50%;
  }

  .timeline-item {
    margin-left: 50%;
  }

  .timeline-item.formation {
    margin-left: 0;
    margin-right: 50%;
    justify-content: end;
    padding-left: 0rem;
    padding-right: 2rem;
  }

  .timeline-item.formation .card:not(.revealed) {
    transform: translate(-100%);
    opacity: 0;
  }

  .timeline-item.formation .card.revealed {
    transform: translate(0px);
  }

  .timeline-item.formation:before {
    left: 100%;
  }
}
/* #endregion */

/* #region BUTTON */
a.btn {
  font-size: 1rem;
  font-weight: bold;
  z-index: 1;
  text-decoration: none;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: solid 2px var(--primary);
  transition: background-color 0.5s, color 0.5s;
}

.btn-secondary {
  background-color: var(--secondary);
}

a.btn:hover {
  background-color: var(--dark);
}

#contact a.btn img {
  max-height: 48px;
  max-width: 150px;
}
/* #endregion */

/* #region MISC */
.caret {
  border: 1rem solid;
  border-width: 0 0.5rem 0 0;
  border-color: var(--primary);
  animation: caret infinite;
  animation-duration: 1.06s;
  animation-timing-function: steps(1, end);
}

.no-js {
  z-index: 1;
}

::selection {
  color: var(--dark);
  background-color: var(--primary);
}

::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}
::-webkit-scrollbar-track-piece {
  background-color: var(--secondary);
}
::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: var(--primary);
}
/* #endregion */

/* #region ANIMATIONS */
@keyframes letter-spacing {
  0% {
    letter-spacing: 0;
  }
  50% {
    letter-spacing: 0.5rem;
  }
  100% {
    letter-spacing: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
/* #endregion */
